.moviesCard {
    max-width: 360px;
    max-height: 260px;
    background-color: transparent;
    position: relative;
    color: #FFFF;
}

.moviesCard_rendered:nth-child(n+13) {
    display: none;
}

.moviesCard_rendered_is-visible {
    display: block;
}

.moviesCard__link {
    text-decoration: none;
    color: inherit;
}
.moviesCard__pic {
    width: 100%;
    /* max-height: 201px;
    min-height: 168px; */
    border-radius: 6px;
    position: relative;
    height: 201px;
}

.moviesCard__wrap {
 display: flex;  
 justify-content: space-between; 
 align-items: center;
 margin-bottom: 29px;
}

.moviesCard__title {
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    margin-top: 11px;
    margin-left: 10px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.moviesCard__container {
    display: flex;
    justify-content: center;
    align-items: center;  
    background: #2F2F2F;
    border-radius: 3px;
    width: 52px;
    height: 18px;
    margin-right: 10px;
    margin-top: 10px;
}

.moviesCard__duration {
    font-size: 11px;
    line-height: 0.9;
    color: #8B8B8B;
    margin: 0;
    font-weight: 400;
}

.moviesCard__btn {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 10px;
    line-height: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #313131;
    border-radius: 30px;
    border: none;
    height: 21px;
    width: 72px;
    padding: 0;
    cursor: pointer;
    color:#FFFF;
}

.moviesCard__btn::before {
    content: "Сохранить";}


.moviesCard__btntosave {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 10px;
    line-height: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../images/save3.svg);
    background-size: cover;
    border-radius: 50px;
    border: none;
    height: 21px;
    width: 21px;
    padding: 0;
    cursor: pointer;
}

.moviesCard__btn-saved {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 10px;
    line-height: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../images/d3.svg);
    background-size: cover;
    border-radius: 50px;
    border: none;
    height: 21px;
    width: 21px;
    padding: 0;
    cursor: pointer;
}




@media screen and (min-width:768px) and (max-width:1024px) {
   .moviesCard_rendered:nth-child(n+9) {
    display: none;
   }
   .moviesCard__pic {
    height: 190px;
   }
}

@media screen and (min-width:320px) and (max-width:767px) {
    .moviesCard_rendered:nth-child(n+6) {
        display: none;
       }
    .moviesCard__pic {
        height: 168px;
    }
}