.profile {
    margin: 0 auto;
    width: 100%;
    color: #FFFF;
}

.profile__title {
    margin: 65px 0 120px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.profile__text-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #424242;
    max-width: 410px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    position: relative;
}

.profile__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    text-align: left;
    position: absolute;
    top:40px;
    left: 0;
}

.profile__field-value {
    border: none;
    background: transparent;
    direction: rtl;
}

.profile__text-container:last-child {
    border-bottom: none;
}

.profile__btn {
    display: block;
    background:transparent;
    border: none;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin: 220px auto 16px;
    cursor: pointer;
    color: #FFFF;
}

.profile__btn:disabled {
    background: #75849d;
    cursor: default;
}

.profile__btn-exit {
    color: #EE3465;
    margin-top: 0;
    margin-bottom: 110px;
    cursor: pointer;
}

.profile__submit-success {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #005406;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .profile__text-container {
        max-width: 260px;
    }
    .profile__btn{
        margin-top: 300px;
        font-size: 12px;
        line-height: 15px;
    }
    .profile__btn:last-child {
        margin-top: 16px;
    }
}